
body {
    background-color: rgb(186, 190, 189);
}
h1 {
    font-size: 3rem;
    color: rgb(56, 67, 3);
    position: relative;
    left: 70px;
    top: 100px;
}
.boxx {
    font-size: 2rem;
   position: relative;
   bottom: 10px;
   right: 30px;
}
.box {
   background-color: rgb(144, 212, 237);
   height: 40px;
}
.sub {
   background-color: rgb(144, 212, 237);
   height: 40px;
   position: relative;
   left: 70px;
   top: 10px;
}

.formm {
    position: relative;
    left: 500px;
    top: 250px;
}